button.btn.btn-danger.w-100.ms-2 {
    font-size: 11px;
}

button.btn.btn-danger.w-100.ms-2:hover {
    background: rgb(185 47 199);
    border: rgb(185 47 199);
}

button.btn.btn-outline-secondary:hover {
    background: radial-gradient(#e01414, transparent);
}

.cart-toast {
    position: fixed;
    top: 20px;
    right: 20px;
    color: #fff;
    padding: 15px 25px;
    border-radius: 8px;
    display: none;
    font-size: 18px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
    z-index: 9999;
}